---
# We will use the default values of the WebKit style, but slightly modified.
BasedOnStyle: WebKit
IndentWidth: 2
PointerAlignment: Right
AccessModifierOffset: -2

# Our column limit is more around 100 characters but we want to avoid
# this rule to be over-agressive.
ColumnLimit: 100
...
